@import "../../styles/variables";

.quizRoot {
  padding: 24px;

  h1 {
    margin: 48px 0;

    color: white;
    font-size: 16px;
  }

  .answerButton {
    padding: 16px 24px;
    border: none;

    color: white;

    background-color: grey;

    &:hover {
      background-color: black;
    }
  }
}
